.playlist__item {
  width: 100%;
  display: block;
  margin-bottom: 12px;
  height: auto; /* или наоборот */
  text-decoration: none;
}
.playlist__track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}

.track__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 447px;
}

.track__titleImage {
  width: 51px;
  height: 51px;
  background: #313131;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 17px;
  position: relative;
}

.track__titleSvg {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.track__titleLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1%;
  text-align: left;
}

.track__titleSpan {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}

.track__author {
  width: 321px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.track__authorLink {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1%;
  text-align: left;
}

.track__album {
  width: 245px;
}

.track__albumLink {
  color: rgba(78, 78, 78, 1);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 2px;
  text-align: left;
}

.track__timeSvg {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
}

.track__timeText {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #696969;
  color: rgba(78, 78, 78, 1);
  font-family: StratosSkyeng;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.1%;
  text-align: right;
}
.track__time {
  display: flex;
  gap: 16px;
}
.track__indicator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px; // отрегулируй по макету
  height: 16px;
  border-radius: 50%;
  background: #ad61ff; // фирменный фиолетовый
  z-index: 2;
}

.track__indicator_pulse {
  @extend .track__indicator;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(162, 89, 247, 0.7);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(162, 89, 247, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(162, 89, 247, 0);
  }
}
