.wrapper {
  height: 100%;
  height: 100vh;
  min-height: 100vh;
  background: #181818;
}
.appContent {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 60px 1fr 244px; /* 60px = узкий левый бар! 244px = сайдбар */
  min-height: 0;

  background: #181818;
}
/* Оформление сайдбара */
.main__sidebar {
  width: 244px;
  min-width: 244px;
  /* height: 100vh; можно добавить */
  background: #181818;
  min-height: 100vh;
}

/* Контент справа */
.mainContent {
  min-width: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0px 161px 0 283px; /* приятные отступы, можно 32px или 40px по вкусу */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 0px);
  min-height: 0;
  overflow-y: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.centerTopBlock {
  flex: 0 0 auto;
  /* Можешь добавить border-bottom или background по желанию */
}
/* Сам плейлист (ТОЛЬКО он скроллится!) */
.contentPlaylist {
  flex: 1 1 0;
  min-height: 0;
  overflow-y: auto;
  padding-bottom: 80px; /* чтобы последний трек не был под баром */
  background: #181818;
  max-height: none;
  height: auto;
}
.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.btn-text {
  &:hover {
    border-color: #d9b6ff;
    color: #d9b6ff;
    cursor: pointer;
  }
  &:active {
    border-color: #ad61ff;
    color: #ad61ff;
    cursor: pointer;
  }
}
