* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: #181818;
  /* и другие глобальные настройки */
}
html,
body {
  min-height: 100vh;
  height: 100%;
}
body,
html {
  overflow-y: auto; /* или scroll, если всегда должен быть, но не auto */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  width: 0 !important; /* Chrome/Safari/Opera */
  background: transparent;
}
