.content__playlist {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* ВЕРТИКАЛЬНАЯ прокрутка */
  overflow-x: hidden; /* ГОРИЗОНТАЛЬНУЮ отключаем */
  min-height: 0; /* ОБЯЗАТЕЛЬНО для flex! */
  min-width: 0; /* ОБЯЗАТЕЛЬНО для flex! */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE, Edge */
}
.content__playlist::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
