/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./src/components/CenterTopBlock/CenterTopBlock.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.CenterTopBlock_centerblock__dxUFv {
  padding: 40px 24px 24px 24px;
  width: 100%;
  box-sizing: border-box;
}

.CenterTopBlock_centerblock__h2__pbxH0 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 45px;
  color: #ffffff;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./src/components/ContentFilter/ContentFilter.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.ContentFilter_centerblock__filter__HBQWf {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 51px;
  gap: 10px;
  position: relative;
}

.ContentFilter_filter__title__LoZom {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
  color: #ffffff;
}

.ContentFilter_filter__button__PsQj3 {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  color: #ffffff;
  background: none;
  cursor: pointer;
  transition: background 0.2s, color 0.2s, border-color 0.2s;
  z-index: 2;
}
.ContentFilter_filter__button__PsQj3:hover, .ContentFilter_filter__button__PsQj3.ContentFilter_active__iGO7o {
  background: #333;
  border-color: rgb(182, 114, 255);
  color: rgb(182, 114, 255);
}

.ContentFilter_filter__button__PsQj3:not(:last-child) {
  margin-right: 10px;
}

/* Выпадающий список фильтра */
.ContentFilter_filter__list__sCxYI {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  width: max-content;
  min-width: 180px;
  max-width: 248px;
  max-height: 237px;
  background: #252525;
  color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow-y: auto;
  padding: 12px 16px;
  z-index: 10;
}
.ContentFilter_filter__list__sCxYI::-webkit-scrollbar {
  width: 4px;
}
.ContentFilter_filter__list__sCxYI::-webkit-scrollbar-track {
  background-color: rgb(75, 73, 73);
}
.ContentFilter_filter__list__sCxYI::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 3px;
}

.ContentFilter_filter__item__Mi9Lo {
  padding: 4px 0;
  font-size: 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.15s;
}
.ContentFilter_filter__item__Mi9Lo:hover {
  background: #444444;
  color: rgb(182, 114, 255);
  text-decoration: underline;
}

/* Активная кнопка (можно использовать с classNames) */
.ContentFilter_active__iGO7o {
  background: #333;
  border-color: #ffbe2f;
  color: #ffbe2f;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./src/components/Playlist/Playlist.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Playlist_content__playlist__1wFGE {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow-y: auto;
  min-height: 0;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./src/components/PlaylistItem/PlaylistItem.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.PlaylistItem_playlist__item__sgGsR {
  width: 100%;
  display: block;
  margin-bottom: 12px;
  height: auto; /* или наоборот */
}

.PlaylistItem_playlist__track__WihZK {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.PlaylistItem_track__title___mO_1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 447px;
}

.PlaylistItem_track__titleImage__axSts {
  width: 51px;
  height: 51px;
  padding: 16px;
  background: #313131;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 17px;
}

.PlaylistItem_track__titleSvg__7Cmix {
  width: 18px;
  height: 17px;
  fill: transparent;
  stroke: #4e4e4e;
}

.PlaylistItem_track__titleLink__m_xVc {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.PlaylistItem_track__titleSpan__eONpq {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4e4e4e;
}

.PlaylistItem_track__author__ynAfy {
  width: 321px;
  display: flex;
  justify-content: flex-start;
}

.PlaylistItem_track__authorLink__yb3Wq {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
}

.PlaylistItem_track__album__VghID {
  width: 245px;
}

.PlaylistItem_track__albumLink__hRUNB {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #696969;
}

.PlaylistItem_track__timeSvg__8tYjB {
  width: 14px;
  height: 12px;
  margin-right: 17px;
  fill: transparent;
  stroke: #696969;
}

.PlaylistItem_track__timeText__Oic5k {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #696969;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./src/components/CenterContent/CenterContent.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@charset "UTF-8";
.CenterContent_centerblock__content__UCWYY {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0; /* ВАЖНО для вложенного flex! */
}

.CenterContent_content__title__gml3V {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  /* background: #181818; // если нужно */
  /* Чтобы не липла к трекам, добавь паддинг или маржин */
  z-index: 1; /* Если нужен */
}

.CenterContent_playlist__scroll__fxNIA {
  flex: 1 1;
  min-height: 0; /* ВАЖНО! */
  overflow-y: auto; /* Только у этого блока скролл! */
  /* Чтобы скроллбар был узким и аккуратным (необязательно): */
  scrollbar-width: thin;
  scrollbar-color: #444 #222;
  padding-bottom: 40px; /* Чтоб последний трек не был ниже, чем бар */
  background: #181818; /* или inherit */
}
.CenterContent_playlist__scroll__fxNIA::-webkit-scrollbar {
  width: 8px;
  background: #222;
}
.CenterContent_playlist__scroll__fxNIA::-webkit-scrollbar-thumb {
  background: #444;
  border-radius: 4px;
}
.CenterContent_playlist__scroll__fxNIA::-webkit-scrollbar {
  display: none;
}
.CenterContent_playlist__scroll__fxNIA {
  scrollbar-width: none; /* Firefox */
}

.CenterContent_playlistTitle__col__VzEJ2 {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;
  text-transform: uppercase;
}

.CenterContent_playlistTitle__svg__DFF6W {
  width: 12px;
  height: 12px;
  fill: transparent;
  stroke: #696969;
}

.CenterContent_col01___tWgi {
  width: 447px;
}

.CenterContent_col02__m_SIG {
  width: 321px;
}

.CenterContent_col03__meSFR {
  width: 245px;
}

.CenterContent_col04__AunvN {
  width: 60px;
  text-align: end;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[14].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[14].oneOf[7].use[5]!./src/components/Search/Search.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Search_centerblock__search__o1EGD {
  width: 100%;
  border-bottom: 1px solid #4e4e4e;
  margin-bottom: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Search_search__svg__glRrC {
  width: 17px;
  height: 17px;
  margin-right: 5px;
  stroke: #ffffff;
  fill: transparent;
}

.Search_search__text__KC6pO {
  flex-grow: 100;
  background-color: transparent;
  border: none;
  padding: 13px 10px 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.Search_search__text__KC6pO::placeholder {
  background-color: transparent;
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
